.mainHeaderContainer {
  /* border-bottom: #bbb18b 3px solid; */
  /* background-color: #000; */
  font-family: "Montserrat", sans-serif;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgb(53, 0, 53);
  z-index: 9999;
  padding-bottom: 10px;
  border-bottom: #bbb18b solid 2px;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeaderLogo {
  margin-top: 20px;
  width: 150px;
}
.navigationContainer {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #bbb18b;
}
.navigationContainer a {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #bbb18b;
}
.logoutIcon {
  color: #bbb18b;
}
.navButton {
  font-size: 10px;
  margin-right: 15px;
}
.navBox {
  display: flex;
  justify-content: right;
}
