.mainRegisterContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
.formContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputBox {
  width: 280px;
  height: 30px;
  margin-top: 10px;
  border-radius: 1em;
  background-color: #bbb18b;
  color: black;
}

.registerButton {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 5px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  background-color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  color: black;
  border-radius: 1em;
  margin: 20px;
}

.loginFormContainer {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status {
  font-size: 20px;
}

.registerBox {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
  display: flex;
}
