.mainTradesContainer {
  margin-top: 20px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
}
.divBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardText {
  background-color: #bbb18b;
  width: 100%;

  text-align: center;
  opacity: 80%;
  border-radius: 0.2em;
  padding-right: 5px;
}
.tradeViewer p {
  background-color: #bbb18b;

  font-size: 0.7em;
  font-weight: 500;
}

.tradeViewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #bbb18b;
  border-radius: 1em;
  width: 80%;
  /* padding: 10px; */

  /* background-color: #bbb18b; */
  opacity: 90%;
  color: black;
}

.tradesHeader {
  text-align: center;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
}

.backButtonIcon {
  margin-left: 10px;
}

.communityTradeViewer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 6px black;
  background-color: #bbb18b;
  border-radius: 1em;
  padding-bottom: 10px;
  width: 280px;
  height: 320px;
  /* background-color: #bbb18b; */
  opacity: 90%;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.profileImage {
  width: 100px;
  border-radius: 4em;
  margin-bottom: 20px;
  border: black solid 3px;
  margin-right: 10px;
}

.flagImage {
  width: 25%;
  border-radius: 0.05em;
  border: #bbb18b solid 1px;
}

.profileBox {
  display: block;
  align-items: center;
  justify-content: center;
  height: 200px;

  text-align: center;
}

.profileTextBox {
  /* display: block; */

  text-align: center;
}

.buttonBox {
  /* background-color: #bbb18b; */
  text-align: right;
  color: #bbb18b;
  /* height: 70px; */
  border-radius: 0.5em;

  /* opacity: 80%; */
}
