.mainFooter {
  /* position: fixed; */
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 0, 53);
  padding-top: 10px;
  bottom: 0;
  border-top: 1px #bbb18b solid;
}

.footerLogo {
  width: 5em;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainFooter {
  justify-self: end;
}
