.mainCardPageContainer {
  width: 100%;
  display: block;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
}

.cardViewer {
  display: flex;
  border: solid 2px #bbb18b;
  border-radius: 1em;
  margin-top: 20px;
  /* padding: 10px; */
  width: 145px;
  height: 145px;
  /* background-color: #bbb18b; */
  opacity: 90%;
  color: black;
}
.cardText {
  background-color: #bbb18b;
  /* width: 145px; */
  text-align: right;
  opacity: 80%;
  border-radius: 0.2em;
  padding-right: 5px;
}
.cardViewer p {
  background-color: #bbb18b;
  /* width: 145px; */
  font-size: 0.7em;
  font-weight: 500;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardPreviewContainer img {
  border-radius: 1em;
  box-shadow: #bbb18b 0px 5px 15px;
}
:global(a) {
  text-decoration: none;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

.cardDetailPageContainer {
  width: 100%;
  display: block;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
}

.cardPreviewContainer {
  margin-top: 30px;
  text-align: center;
}

.cardInfoContainer {
  margin-left: 20px;
}

.cardInformationDisplayTechnical {
  width: 100%;
  text-align: center;
  display: block;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  border-bottom: #bbb18b 2px dashed;
}
.cardInformationDisplayDescription {
  margin-top: 5px;
  font-style: italic;
  width: 100%;
  display: block;
  color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: #bbb18b 2px dashed;
}

/* Buttons */

.quantityButton {
  font-size: 0.8em;
  text-align: center;
  width: 60px;
  padding: 10px;
  border: #bbb18b solid 1px;
  border-radius: 1em;
  background-color: black;
  color: #bbb18b;
  font-weight: 600;
}

.quantityButton span {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 20px;
}

.actionContainer {
  border: #bbb18b solid 2px;
  background-color: #bbb18b;
  color: black;
  opacity: 50%;
  border-radius: 1em;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
.actionContainer button {
  width: 20px;
}

.actionCall {
  margin-top: 5px;
  font-size: 0.8em;
  border-radius: 0.5em;
  padding: 2px;
  background-color: #bbb18b;
  color: black;
}

.goBackButton {
  width: 80px;
  background-color: #bbb18b;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* padding: 5px; */
  border-radius: 1em;
  font-weight: 500;
  color: black;
  opacity: 80%;
}

.backButtonIcon {
  margin-left: 10px;
}
